*{
	margin:0;
	padding:0;
}

body{
	background-color:black;
}

.container{
	background-image:url(Images/background.png);
	background-position:center top;
	background-repeat:no-repeat;
	min-height:700px;
	width:1345px;
	margin:0 auto;
}

.stuff{
	position:relative;
	min-height:700px;
	width:980px;
	margin:0 auto;
}

.mac{
	background-image:url(Images/Macbook.png);
	background-repeat:no-repeat;
	position:absolute;
	top:183px;
	left:160px;
	height:470px;
	width:830px;
	z-index:2;
}

.iphone{
	background-image:url(Images/iphone.png);
	background-repeat:no-repeat;
	position:absolute;
	top:583px;
	left:-85px;
	height:150px;
	width:210px;
	z-index:3;
}

.tablo{
	background-image:url(Images/pic%20mac.png);
	background-repeat:no-repeat;
	position:absolute;
	top:70px;
	left:-125px;
	height:200px;
	width:280px;
	z-index:4;
}

.key{
	background-image:url(Images/key.png);
	background-repeat:no-repeat;
	position:absolute;
	top:600px;
	left:-130px;
	height:85px;
	width:90px;
	z-index:5;	
	
}

.pres{
	height: 350px;
	width: 200px;
	perspective:150;
	margin-left:950px;
	-webkit-perspective:750;
	-moz-perspective:750;
}

.mouse{
	background-image:url(Images/magicmousemain.png);
	background-repeat:no-repeat;
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	position:absolute;
	top:570px;
	left:100px;
	height:100px;
	width:60px;
	z-index:10;
}

.mouse:hover{
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
}
